<!DOCTYPE html>
<html>
<body>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<h1>You are Looking at Sam Behren's Information</h1>
	<ul class="nav nav-tabs">
  		<li class="active"><a data-toggle="tab" href="#facebook">Facebook</a></li>
  		<li><a data-toggle="tab" href="#twitter">Twitter</a></li>
  		<li><a data-toggle="tab" href="#instagram">Instagram</a></li>
  		<li><a data-toggle="tab" href="#google">Google</a></li>
  		<li><a data-toggle="tab" href="#youtube">Youtube</a></li>
	</ul>

	<div class="tab-content">
		<div id="facebook" class="tab-pane fade in active">
	    	<h3>Facebook</h3>
	    	<p>Some content.</p>
		</div>
		<div id="twitter" class="tab-pane fade">
	    	<h3>Twitter</h3>
	    	<p>Some content in menu 1.</p>
	 	</div>
		<div id="instagram" class="tab-pane fade">
	    	<h3>Instagram</h3>
	    	<p>Some content in menu 2.</p>
	 	</div>
	 	<div id="google" class="tab-pane fade">
	    	<h3>Google</h3>
	    	<p>Some content in menu 2.</p>
	 	</div>
	 	<div id="youtube" class="tab-pane fade">
	    	<h3>Youtube</h3>
	    	<p>Some content in menu 2.</p>
	 	</div>
	</div>
</body>
</html>