<!DOCTYPE html>
<html>
<body>
	
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	</head>
	<h1>You are looking at the User Profile</h1>
</body>
</html>