<!DOCTYPE html>
<html>
<body>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<h1>You are Looking at Participant's Information</h1>
	<ul class="nav nav-tabs">
  		<li class="active"><a data-toggle="tab" href="#facebook">Facebook</a></li>
  		<li><a data-toggle="tab" href="#twitter">Twitter</a></li>
  		<li><a data-toggle="tab" href="#instagram">Instagram</a></li>
  		<li><a data-toggle="tab" href="#google">Google</a></li>
  		<li><a data-toggle="tab" href="#youtube">Youtube</a></li>
	</ul>

	<div class="tab-content">
		<div id="facebook" class="tab-pane fade in active">
			<ul class="nav nav-tabs">
	  		<li class="active"><a data-toggle="tab" href="#BasicProfileInfo1">Basic Profile Info</a></li>
	  		<li><a data-toggle="tab" href="#Friends1">Friends</a></li>
	  		<li><a data-toggle="tab" href="#Likes1">Likes</a></li>
	  		<li><a data-toggle="tab" href="#Posts1">Posts</a></li>
	  		<li><a data-toggle="tab" href="#Photos1">Photos</a></li>
	  		<li><a data-toggle="tab" href="#Music1">Music</a></li>
	  		<li><a data-toggle="tab" href="#Movies1">Movies</a></li>
	  		<li><a data-toggle="tab" href="#Photos1">Photos</a></li>
			</ul>
			<div class="tab-content">
				<div id= "BasicProfileInfo1" class="tab-pane fade in active"> 
					Basic Profile Info
				</div>
				<div id= "Friends1" class="tab-pane fade"> 
					Friends
				</div>
				<div id= "Likes1" class="tab-pane fade"> 
					Likes
				</div>
				<div id= "Posts1" class="tab-pane fade"> 
					Posts
				</div>
				<div id= "Photos1" class="tab-pane fade"> 
					Photos
				</div>
				<div id= "Music1" class="tab-pane fade"> 
					Music
				</div>
				<div id= "Movies1" class="tab-pane fade"> 
					Movies
				</div>
				<div id= "Photos1" class="tab-pane fade"> 
					Photos 
				</div>
			</div>
		</div>
		<div id="twitter" class="tab-pane fade">
			<ul class="nav nav-tabs">
		  		<li class="active"><a data-toggle="tab" href="#BasicProfileInfo2">Basic Profile Info</a></li>
		  		<li><a data-toggle="tab" href="#Tweets2">User Tweets </a></li>
		  		<li><a data-toggle="tab" href="#Favorites2">Favorites</a></li>
		  		<li><a data-toggle="tab" href="#Friends2">Friends </a></li>
		  		<li><a data-toggle="tab" href="#Followers2">Followers </a></li>
		  		<li><a data-toggle="tab" href="#Associated2">Associated Tweets </a></li>
			</ul>
			<div class="tab-content">
				<div id= "BasicProfileInfo2" class="tab-pane fade in active"> 
					Basic Profile Information
				</div>
				<div id= "Tweets2" class="tab-pane fade"> 
					Tweets
				</div>
				<div id= "Favorites2" class="tab-pane fade"> 
					Favorites 
				</div>
				<div id= "Friends2" class="tab-pane fade"> 
					Friends
				</div>
				<div id= "Followers2" class="tab-pane fade"> 
					Followers
				</div>
				<div id= "Associated2" class="tab-pane fade"> 
					Associated Tweets
				</div>
			</div>

		</div>
		<div id="instagram" class="tab-pane fade">
			<ul class="nav nav-tabs">
		  		<li class="active"><a data-toggle="tab" href="#BasicProfileInfo3">Basic Profile Info</a></li>
		  		<li><a data-toggle="tab" href="#Follower3">follower</a></li>
		  		<li><a data-toggle="tab" href="#Following3">Following</a></li>
		  		<li><a data-toggle="tab" href="#Likes3">Likes </a></li>
		  		<li><a data-toggle="tab" href="#RecentMedia3">Recent Media</a></li>
			</ul>
			<div class="tab-content">
					<div id= "BasicProfileInfo3" class="tab-pane fade in active"> 
						Basic Profile Information
					</div>
					<div id= "Follower3" class="tab-pane fade"> 
						Followers 
					</div>
					<div id= "Following3" class="tab-pane fade"> 
						Following 
					</div>
					<div id= "Likes3" class="tab-pane fade"> 
						Likes
					</div>
					<div id= "RecentMedia3" class="tab-pane fade"> 
						Recent Media
					</div>
			</div>
	 	</div>
	 	<div id="google" class="tab-pane fade">
	    	<h3>Google</h3>
	    	<p>Some content in menu 2.</p>
	 	</div>
	 	<div id="youtube" class="tab-pane fade">
	    	<h3>Youtube</h3>
	    	<p>Some content in menu 2.</p>
	 	</div>
	</div>
</body>
</html>