<!DOCTYPE html>
<html>
<body>
	<head>
	 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	</head>
	<div class="page-header">
	<h1>Audience Support</h1>
	</div>
	<p>
		If you need support during the performance piece please talk to the artist in the space or if you have additional questions or have a complaint please contact the artist at sbehrens at smith dot edu
	</p>
</body>
</html>
