<!DOCTYPE html>
<html>
<body>
	<head>
	 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	</head>
	<div class="page-header">
		<h2>Terms of Service</h2>
	<div>
<p>The audience member has a right to participate in the performance piece. They also have a right to terminate the piece at any time. They can engage with the performer or not. They can decided what kind of online materials the artist can use and what the artist cannot use. The performer will not keep any information gathered from any site and will only use it for the duration of the performance. The performance will be in an intimate space and therefore privacy and the right of the audience member is of the highest concern. 
</p>
</body>
</html>